.dark-mode-przelacz {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.dark-mode-przelacz:hover {
    background-color: #fff;
    color: #222;
}

.dark-mode-przelacz:focus {
    outline: none;
}

.dark-mode-przelacz::before {
    content: "\2600"; 
    font-size: 10px;
    margin-right: 10px;
}

.dark-mode header nav ul li a {
    color: #fff; 
    background-color: #333;
}

.dark-mode header nav ul li a:hover{
    background-color: #222;
    color: #ddd;
    border-radius: 5px;
}


.dark-mode .dark-mode-przelacz {
    border-color: #fff;
    color: #fff;
}

.dark-mode .dark-mode-przelacz:hover {
    background-color: #fff;
    color: #222;
}

.dark-mode .dark-mode-przelacz::before {
    content: "\1F319"; 
    margin-right: 5px;
}

.dark-mode {
    background-color: #222; 
    color: #fff; 
}

.dark-mode header {
    background-color: #333; 
}

.dark-mode button {
    background-color: #333; 
    color: #fff; 
}

.dark-mode footer {
    background-color: #333;
}

.dark-mode #formularz-kontaktowy label{
    color: #fff;
    background-color: none;
}
.dark-mode #formularz-kontaktowy input{
    background-color: #333;
}
.dark-mode #formularz-kontaktowy textarea{
    background-color: #333;
}
.dark-mode #formularz-kontaktowy button{
    background-color: #333;
    color: white;
}
.dark-mode body,
.dark-mode #info-kontakt p,
.dark-mode #info-kontakt h2,
.dark-mode #formularz-kontaktowy h2,
.dark-mode .filters label,
.dark-mode .filters select,
.dark-mode .filters h2,
.dark-mode .filters button {
    color: #fff; 
}
.dark-mode #godziny-pracy {
    color: #fff;
}

.dark-mode .filters {
    background-color: #333; 
}

.dark-mode #brand-select
{
    background-color: #333;
}
.dark-mode #type-select
{
    background-color: #333;
}
.dark-mode #year-from-select
{
    background-color: #333;
}
.dark-mode #year-to-select
{
    background-color: #333;
}
.dark-mode #sorting-select
{
    background-color: #333;
}
.dark-mode #price-label {
    color: #fff;
}

.dark-mode .panel {
    background-color: #222; 
    color: #fff; 
}

.dark-mode .accordion:hover {
    background-color: #333;
}