body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('https://i.pinimg.com/originals/f0/c1/10/f0c1108cd1a98a5ca3acd1fc443034ec.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Black color with transparency */
    padding: 10px 10px;
    position: relative;
    z-index: 2;
    width: 100%;
}

.logo {
    position: absolute;
    left: 20px;
}

.logo img {
    height: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

main {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center; 
    justify-content: top;
    padding: 20px;
    flex-direction: column;
    text-align: center; /* Center the text horizontally */
    padding-top: 120px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    color: white;
}

.nazwa-firmy h1 {
    font-family:'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.opis p {
    font-size: 24px;
    margin: 10px 0 0 0; /* Add some margin on top for spacing */
}

footer {
    background-color: rgba(0, 0, 0, 0.7); /* Czarne tło z 50% przezroczystości */
    color: white; /* Biały kolor tekstu */
    text-align: center; /* Wycentruj tekst */
    padding: 5px; /* Dodaj odstępy wewnątrz stopki */
    position: relative; /* Pozycja relatywna, aby umieścić stopkę na dole ekranu */
    z-index: 2; /* Ustaw z-index większy niż warstwa z overlayem */
    width: 110%;
    left: -100px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        position: static;
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: row;
        gap: 10px;
    }

    .nazwa-firmy h1 {
        font-size: 36px;
    }

    .opis p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .logo img {
        height: 30px;
    }

    nav ul {
        gap: 5px;
    }

    nav ul li a {
        padding: 5px 10px;
    }

    .nazwa-firmy h1 {
        font-size: 28px;
    }

    .opis p {
        font-size: 16px;
    }
}

