body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
}

header .logo img {
    height: 60px;
}


header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
    background-color: #333;
    color: #ddd;
    border-radius: 5px;
}

main {
    padding: 80px 20px 60px; 
    text-align: center;
}

#info-kontakt {
    margin-bottom: 40px;
}

#info-kontakt h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #222;
}

#info-kontakt p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

#formularz-kontaktowy h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #222;
}

#formularz-kontaktowy form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formularz-kontaktowy label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

#formularz-kontaktowy input,
#formularz-kontaktowy textarea {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 30px);
}

#tresc-formularza {
    display: none;
    margin-top: 10px; /* Domyślnie brak marginesu */
}

#formularz-kontaktowy button {
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#formularz-kontaktowy button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

footer {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    position: fixed;
    text-align: center; 
    padding: 10px 0; 
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 14px;
    margin: 0;
}

input.accordion-checkbox {
    display: none;
}

label.accordion-label {
    padding: 12px 20px; 
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label.accordion-label:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

input.accordion-checkbox:checked ~ .accordion-content {
    display: block;
}

form.accordion-content {
    display: none;
    padding-top: 15px; 
}

form.accordion-content label {
    display: block;
}

form.accordion-content input,
form.accordion-content textarea {
    width: calc(100% - 30px);
}

#mapa {
    text-align: center;
    margin: 0 auto;
    max-width: 600px; 
}

#godziny-pracy {
    text-align: center;
    font-family:'Lato', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}

.dark-mode {
    background-color: #222; /* Tło w trybie ciemnym */
    color: #fff; /* Kolor tekstu w trybie ciemnym */
}

.dark-mode button {
    background-color: #333; 
    color: #fff; 
}


.dark-mode header nav ul li a {
    color: #fff; 
    background-color: #333;
}
.dark-mode header nav ul li a:hover{
    background-color: #222;
    color: #ddd;
    border-radius: 5px;
}

/* Dodaj style dla paska menu w trybie ciemnym */
.dark-mode header {
    background-color: #333; /* Jasny odcień szarego w trybie ciemnym */
}

.dark-mode footer {
    background-color: #333;
}

/* Zmiana koloru tekstu w sekcjach na biały w trybie ciemnym */
.dark-mode #info-kontakt, 
.dark-mode #formularz-kontaktowy, 
.dark-mode #mapa, 
.dark-mode #godziny-pracy {
    background-color: #222; /* Szare tło w trybie ciemnym */
    color: white;
}

/* Upewnij się, że wszystkie teksty formularza mają biały kolor w trybie ciemnym */
.dark-mode #formularz-kontaktowy label,
.dark-mode #formularz-kontaktowy input,
.dark-mode #formularz-kontaktowy textarea,
.dark-mode #info-kontakt p,
.dark-mode #info-kontakt h2,
.dark-mode #formularz-kontaktowy h2 {
    color: #fff; /* Kolor tekstu */
}

.dark-mode-toggle {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #fff;
    color: #222;
}

.dark-mode-toggle:focus {
    outline: none;
}

.dark-mode-toggle::before {
    content: "\2600"; /* Unicode dla ikony słońca */
    font-size: 10px;
    margin-right: 10px;
}

.dark-mode .dark-mode-toggle {
    border-color: #fff;
    color: #fff;
}

.dark-mode .dark-mode-toggle:hover {
    background-color: #fff;
    color: #222;
}/* po najechaniu  */

.dark-mode .dark-mode-toggle::before {
    content: "\1F319"; /* Unicode dla ikony księżyca */
    margin-right: 5px;
}
