body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

header .logo img {
    height: 60px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
    background-color: #333;
    color: #ddd;
    border-radius: 5px;
}

main {
    padding: 80px 20px 60px;
    text-align: center;
}

#info-kontakt {
    margin-bottom: 40px;
}

#info-kontakt h2,
#formularz-kontaktowy h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #222;
}

#info-kontakt p,
#formularz-kontaktowy label {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

#formularz-kontaktowy form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formularz-kontaktowy input,
#formularz-kontaktowy textarea {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 30px);
}

#tresc-formularza {
    display: none;
    margin-top: 10px;
}

#formularz-kontaktowy button {
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#formularz-kontaktowy button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 14px;
    margin: 0;
}

#mapa {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

#godziny-pracy {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}

.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode button {
    background-color: #333;
    color: #fff;
}

.dark-mode header nav ul li a {
    color: #fff;
    background-color: #333;
}

.dark-mode header nav ul li a:hover {
    background-color: #222;
    color: #ddd;
    border-radius: 5px;
}

.dark-mode header,
.dark-mode footer {
    background-color: #333;
}

.dark-mode #info-kontakt,
.dark-mode #formularz-kontaktowy,
.dark-mode #mapa,
.dark-mode #godziny-pracy {
    background-color: #222;
    color: white;
}

.dark-mode #formularz-kontaktowy label,
.dark-mode #formularz-kontaktowy input,
.dark-mode #formularz-kontaktowy textarea,
.dark-mode #info-kontakt p,
.dark-mode #info-kontakt h2,
.dark-mode #formularz-kontaktowy h2 {
    color: #fff;
}

.dark-mode-toggle {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #fff;
    color: #222;
}

.dark-mode-toggle:focus {
    outline: none;
}

.dark-mode-toggle::before {
    content: "\2600";
    font-size: 10px;
    margin-right: 10px;
}

.dark-mode .dark-mode-toggle {
    border-color: #fff;
    color: #fff;
}

.dark-mode .dark-mode-toggle:hover {
    background-color: #fff;
    color: #222;
}

.dark-mode .dark-mode-toggle::before {
    content: "\1F319";
    margin-right: 5px;
}

