body {
    font-family: 'Arial', sans-serif;
    color: #000;
    background: #fff;
    margin: 0;
    padding: 0;
}

/* Stylowanie nagłówka */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    top: 0px;
    position: absolute;
    left: 0px;
    padding: 7px 10px; 
    
}

header .logo img {
    height: 60px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
    
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 30px 20px;
}

header nav ul li a:hover {
    background-color: #333;
    color: #ddd;
}




main {
    padding-top: 70px;
    
}
.filters, .add-trailer, .trailers {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input, form button {
    padding: 10px;
    font-size: 16px;
}

.trailer {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
}

.trailer img {
    height: 100px;
}

.trailer-details {
    flex-grow: 1;
}

.trailer-actions {
    display: flex;
    gap: 10px;
}

/* Stylowanie stopki */
footer {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    text-align: center; 
    padding: 0px; 
    bottom: 0px; 
    width: 100%;
}

footer p {
    font-size: 14px;
    margin: 0px 0;
}

/* Dodaj style dla trybu ciemnego */
.dark-mode {
    background-color: #222; /* Tło w trybie ciemnym */
    color: #fff; /* Kolor tekstu w trybie ciemnym */
}

/* Zmodyfikuj kolor tła przycisku "Dark Mode" w trybie ciemnym */
.dark-mode button {
    background-color: #333; 
    color: #fff; 
}


.dark-mode header nav ul li a {
    color: #fff; 
    background-color: #333;
}
.dark-mode header nav ul li a:hover{
    background-color: #222;
    color: #ddd;
    border-radius: 5px;
}


/* Dodaj style dla paska menu w trybie ciemnym */
.dark-mode header {
    background-color: #333; /* Jasny odcień szarego w trybie ciemnym */
}

/* Zmodyfikuj kolor tła dla sekcji z filtrami w trybie ciemnym */
.dark-mode #filters {
    background-color: #333; /* Szare tło w trybie ciemnym */
}

/* Zmodyfikuj kolor tła i tekstu dla przycisku "Skontaktuj się z nami" w trybie ciemnym */
.dark-mode .email-form button {
    background-color: #444; /* Kolor tła przycisku w trybie ciemnym */
    color: #fff; /* Kolor tekstu przycisku w trybie ciemnym */
}
.dark-mode footer {
    background-color: #333;
}

/* Zmiana koloru tekstu w filtrach na biały w trybie ciemnym */
.dark-mode #filters label,
.dark-mode #filters select,
.dark-mode #filters h2,
.dark-mode #filters button {
    color: #fff; /* Kolor tekstu w trybie ciemnym */
}

.dark-mode #price-label {
    color: #fff;
}

.dark-mode-toggle {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #fff;
    color: #222;
}

.dark-mode-toggle:focus {
    outline: none;
}

.dark-mode-toggle::before {
    content: "\2600"; /* Unicode dla ikony słońca */
    font-size: 10px;
    margin-right: 10px;
}

.dark-mode .dark-mode-toggle {
    border-color: #fff;
    color: #fff;
}

.dark-mode .dark-mode-toggle:hover {
    background-color: #fff;
    color: #222;
}

.dark-mode .dark-mode-toggle::before {
    content: "\1F319"; /* Unicode dla ikony księżyca */
    margin-right: 5px;
}
