
body {
    font-family: 'Arial', sans-serif;
    color: #000;
    background: #fff;
    margin: 0;
    padding: 0;
}

/* Stylowanie nagłówka */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 20px;
    position: static;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    top: 0px;
    position: absolute;
    left: 0px;
    padding: 7px 10px; 
    
}

header .logo img {
    height: 60px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
    
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 30px 20px;
}

header nav ul li a:hover {
    background-color: #333;
    color: #ddd;
}

h1 {
    margin: 0;
}

main {
    padding: 1em;
}

.offer {
    margin: 1em auto;
    max-width: 600px;
    border: 1px solid #ddd;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.slide {
    display: none;
    width: 100%;
}

.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Akordeon styl */
.accordion {
    font-family: Arial, Helvetica;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: solid;
    border-width: 1px;
    outline: none;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.cena {
    font-family: Franklin Gothic Medium, Arial;
    font-style: italic;
    font-weight: bold;
    
}
.email-form {
    margin-top: 1em;
    padding: 1em;
    border-top: 1px solid #ddd;
    text-align: left; /* Centrowanie zawartości */

}

.email-form h4 {
    margin-bottom: 30px;
}

.email-form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.email-form input,
.email-form textarea {
    width: calc(100% - 20px); /* Szerokość - margines */
    padding: 0.5em;
    margin: 0 auto 1em; /* Margines ustawiony na auto, aby elementy były wyśrodkowane */
    border: 1px solid #ddd;
    border-radius: 3px;
}

.email-form button {
    padding: 0.5em 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.email-form button:hover {
    background-color: #0056b3;
}

/* Akordeon dla formularza email */
.email-form .accordion {
    font-family: Arial, Helvetica;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: solid;
    border-width: 1px;
    outline: none;
    transition: 0.4s;
    margin-bottom: 10px; /* Dodanie marginesu */
}

.email-form .accordion.active, .email-form .accordion:hover {
    background-color: #ccc;
}

.email-form .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


/* Stylowanie filtrów */
#filters {
    padding: 15px;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrowanie zawartości */
}

#filters h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

#filters label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

#price-label {
    margin: 0 auto 10px; /* Przesunięcie ceny bliżej suwaka */
    font-weight: bold;
    color: #555;
}

#filters input[type="range"],
#filters select,
#filters button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px; /* Większy margines */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #555;
}

#filters button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#filters button:hover {
    background-color: #0056b3;
}

/* Stylowanie stopki */
footer {
    background-color: rgba(0, 0, 0); 
    color: white; 
    position: static; 
    text-align: center; 
    padding: 0px; 
    bottom: 0px; 
    width: 100%;
}

footer p {
    font-size: 14px;
    margin: 0px 0;
}